  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eeeeee; /* Light background */
    color: #333;
    min-height: 100vh;
    margin-bottom: 30px;
  }

  .contact-hero{
    height: 300px;
    background-image: url(../assets/contact.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-button{
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .contact-button:hover {
    background-color: #c75407;
  }
  
  .contact-info {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
  }
  
  .contact-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #222;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background: #f8f8f8;
  }

  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: 2px solid #fa8c43;
    background: #fff;
  }
  
  .submit-btn {
    background: #007bff;
    color: #fff;
    padding: 12px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  .submit-btn:hover {
    background: #0056b3;
    transform: translateY(-2px);
  }
  
  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .map-container {
    margin-top: 30px;
    width: 95%;
    max-width: 600px;
    height: 300px;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
  }
  
  @media (max-width: 768px) {
    .contact-form {
      width: 85%;
    }
    .contact-hero{
    height: 200px;
    }
  }
  